<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="container-fluid">
                <h1>Create Post</h1>
                <form lass="d-flex flex-column mb-3" onsubmit='createPost(event)'  action='http://localhost:5000/' method=''>

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input class="form-control" type="text" name="title" id="blog-title">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Author</label>
                        <input class="form-control" type="text" name="author" id="blog-author">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" name="category" id="blog-category">
                            <option value="appliances">Appliances</option>
                            <option value="entertainment" selected>Entertainment</option>
                            <option value="computer Science">Computer Science</option>
                            <option value="finace">Finace</option>
                            <option value="health">Health</option>
                            <option value="science">Science</option>
                            <option value="sports">Sports</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Post</label>
                        <textarea name="blog-post" id="blog-post" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="Create Post" class="btn btn-outline-success">
                </form>
            </div>
            <%- include('../partials/footer') %>

                <script>
                    <%- include('../partials/create-post') %>
                </script>
    </body>

    </html>